@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body{
  background-color: #161616;
  font-family: 'Source Code Pro', monospace;
}

#mainContainer {
  border: 8px solid #0038FF;
  border-radius: 30px;
  color: white;

}

#myPicture{
  max-width: 200px;
}
